h1 {color: rgb(216, 177, 2); font-size: 250%; text-align: center;}
h2 {color: rgb(221, 122, 50); font-size: 120%; text-align: center;}
body {background-color: rgb(0, 0, 0);}
#queen {margin-left: 40%; width: 25%;}
#show {margin-left: 37%; width: 30%;}
#baner {margin-left: 40%; width: 25%;}


